* {
    margin: 0;
    padding: 0;
}
.header{
    grid-area: header;
}
.wrapper{
    
    display:grid;
    grid-area: wrapper;
}
/* * .wrapper{
    margin:50px;
} */
.footer{
    grid-area: footer;
}

.conteiner {
    min-height: 100%;
    /* display: grid; */
    /* grid-template-areas: "header header header" */
        /* "wrapper wrapper wrapper"; */
    justify-items: center;
    /* position: relative; */
}

.header {
    width: 100%;
    height: 500px;
    border: 3px solid blue;
    background-color: rgba(144, 170, 149, 0.89);
    display: flex;
    justify-content: flex-end;
}

.header .header-menu>ul {
    display: flex;
}

.header-menu>ul>li {
    margin-right: 15px;
}

.header-img {

    position: static;
    margin-top: 150px;
    padding-right: 770px;
}

.explore-airbnb,
.to-stay,
.adventures,
.around-the-world,
.experiences,
.popular-destinations,
.featured-destinations,
.footer
{
    width: 100%;
    height: 100px;
    border: 3px solid blue;
}

.to-stay {

}

.adventures {

}

.around-the-world {

}

.experience {

}

.popular-destinations {

}

.featured-destinations {

}

.footer {

}